/*=======================
1.루트
=======================*/
:root {
    --bg: #212121;
    --bg-2: #000000;
    --bg-3: #181818;
    --bg-4: #303030;
    --text: #ffffff;
    --text-2: #aaaaaa;
    --accent: #cc0000;
    --hover: #717171;
}

/*=======================
2.컨테이너
=======================*/
.container{
    display: grid;
    grid-template-columns: 240px minmax(0,1fr);
    grid-template-rows: 64px minmax(0, 1fr);
    grid-template-areas: 
        "header header"
        "aside main";
}

/*=======================
3.헤더
=======================*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background: var(--bg);
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    width: 100%;
    height: 64px;
    z-index: 10;
}

/*=======================
3-1.헤더 햄버거
=======================*/
.hamburger-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-label{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 700;
    color: var(--text);
    margin-left: 20px;
    cursor: pointer;
    font-size: 1.4rem;
}

.hamburger-label:hover{
    background-color: var(--hover);
    border-radius: 50%;
}

.header-hamburger{
    display: none;
}

.container:has(#CheckBox:checked){
    grid-template-columns: 70px 1fr;
}

.container:has(#CheckBox:checked) .aside{
    width: 70px;
}

.container:has(#CheckBox:checked) .aside h2,
.container:has(#CheckBox:checked) .aside p{
    display: none;
}

/*=======================
3-2. 헤더 로고
=======================*/
.logo-img{
    cursor: pointer;
}

/*=======================
3-3.헤더 검색창
=======================*/
.search-container{
    display: flex;
    width: 100%;
    max-width: 800px;
    padding: 0 32px;
    box-sizing: border-box;
    align-items: center;
    height: 40px;
}

.header-search{
    background: #121212;  
    width: 100%;
    height: 100%;
    color: #AAAAAA;
    font-weight: 400;
    border: 1px solid var(--bg-4);
    padding: 8px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: 1rem;
}

.header-search:focus{
    outline: .05px solid var(--hover);
}

.header-search-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search-btn{
    background-color: var(--bg-4);
    width: 64px;
    height: 40px;
    border: none;
    height: 100%;
    width: 15%;
    cursor: pointer;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.search-btn:hover{
    background: var(--hover);
}
.back-btn{
    color: var(--text);
    font-weight: 700;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.back-btn:hover{
    background: var(--hover);
}

/*=======================
3-4.헤더 모바일 검색창용
=======================*/
.mobile-search-container{
    display: none;
}

.mobile-checkbox{
    display: none;
}

.mobile-search-label{
    display: none;
}

.mobile-search-label img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.mobile-search-label:hover{
    background: var(--hover);
}

/*=======================
3-5.헤더 마이크
=======================*/
.header-mic-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background: var(--bg-2);
    border-radius: 50%;
}

.header-mic-container img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.header-mic-container:hover{
    background: var(--hover);
}

/*=======================
3-6.헤더 네비
=======================*/
.header-nav{
    width: 208px;
    height: 40px;  
}

.header-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-right: 30px;
}

.header-profile{
    cursor: pointer;
    border-radius: 50%;
}

.header-profile:hover{
    background: gray;
}

/*=======================
4.사이드바 
=======================*/
.aside{
    grid-area: aside;
    width: 240px;
    height: calc(100vh - 64px);
    background: var(--bg);
    position:fixed;
    top: 64px;
    left:0;
    overflow-y: auto;
}

/*=======================
4-1.사이드바 스크롤
=======================*/
.aside::-webkit-scrollbar{
    width: 6px;
}

.aside::-webkit-scrollbar-track{
    background: transparent;
}

.aside::-webkit-scrollbar-thumb{
    background: var(--hover);
    border-radius: 10px;
}

.aside::-webkit-scrollbar-thumb:hover{
    background: #909090;
}

/*=======================
4-2.사이드바 섹션
=======================*/
.aside-nav{
    top: 64px;
}

.aside-nav-container ul{
    list-style: none;
}

.aside-nav-item{
    display: flex;
    color: var(--text);
    align-items: center;
    gap: 24px;
    height: 40px;
    padding: 0 24px;
    cursor: pointer;
}

.aside-nav-item p:not(.item-show) {
    text-transform: capitalize;
}

.item-show::first-letter{
    text-transform: uppercase;
}

.aside-nav-item:hover{
    background: #383838;
    transition: background 0.3s;
}

.aside-nav-item p{
    font-size: 0.875rem;  
}

.aside-nav-item.active{
    background: #383838;
    font-weight: 800;
}

.aside-nav-container{
    padding: 12px 0;
    border-bottom: 1px solid var(--hover);
}

.aside-nav-container h2{
    color: var(--text-2);
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    padding: 8px 24px;
    font-weight: 600;
}

.aside-nav-item img{
    width: 22px;
    height: 22px;
}

.user-avatar{
    border-radius: 50%;
}

/*=======================
5.메인
=======================*/
.main{
    grid-area: main;
    background: var(--bg-2);
    min-width: 0;
    min-height: calc(100vh - 64px);
    
}

/*=======================
5-1.메인 네비
=======================*/
.main-nav-wrapper{
    position: sticky;
    top: 64px;
    z-index: 10;
}

.main-nav-container{
    position: relative;
    overflow: hidden;
}

.main-nav{
    border-top: 1px solid var(--bg-4);
    border-bottom: 1px solid var(--bg-4);
    background: var(--bg);
    height: 58px;
    width: max-content;
    padding: 12px 0;
}

.main-nav-ul{
    display: flex;
    gap: 12px;
    list-style: none;
    padding: 0 20px;
    height: 100%;
    align-items: center;
    width: max-content;
}

.item{
    flex-shrink: 0;
    color: var(--text);
    border: 0.3px solid #AAAAAA;
    padding: 8px 12px;
    background: var(--bg-4);
    border-radius: 20px;
    cursor: pointer;
    text-transform: capitalize;
}

.item.active{
    background:#FFFFFF;
    color: #030303;
    
}

li:not(.active):hover {
    background: var(--hover);
    transition: background 0.3s;
}

.next-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    color: var(--text);
    position: absolute;
    right:0;
    top: 1px;
    background: rgba(33, 33, 33, 0.9);
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
    
}

.next-btn:hover{
    background: var(--hover);
}

/*=======================
5-2.비디오 카드
=======================*/
.video-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px 16px;
    padding: 24px;
}

.video-card{
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.video-card:hover{
    background: var(--bg-4);
    transition: background 0.3s;
}

.video-relative{
    position: relative;
}

.video-card-img{
    width:100%;
    aspect-ratio:16 / 9;
    object-fit:cover;
    border-radius:12px;
}

.user-name{
    text-transform: capitalize;
}

.video-card-content h2::first-letter{
    text-transform: uppercase;
}

.play-time{
    position: absolute;
    background: var(--bg-2);
    color: var(--text);
    bottom: 10px;
    right: 10px;
    padding: 5px;
    font-size: 0.9rem;
    font-weight: 400;
}

.avatar{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    flex-shrink: 0;
}

.video-card h2{
    margin: 0;
    color: var(--text);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
}

.video-card-content p{
    margin: 4px 0 0;
    color: var(--text-2);
    font-size: 0.875rem;
}

.video-card-container{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-top: 12px;
}

.video-card-content{
    flex: 1;
}

.video-card-content img{
    border-radius: 50%;
}

/*=======================
6. 반응형(테블릿)
=======================*/
@media(max-width:1024px){
    .mic-container{
        margin-left: 10px;
    }

    .container{
        grid-template-columns:70px minmax(0,1fr);
    }

    .aside{
        width:70px;
        z-index:10;
        transition: width .3s;
    }

    .aside h2,
    .aside p{
        display:none;
    }

    .container:has(#CheckBox:checked) .aside{
        width:240px;
    }

    .container:has(#CheckBox:checked) .aside h2,
    .container:has(#CheckBox:checked) .aside p{
        display:block;
    }

    .container:has(#CheckBox:checked) .aside-nav-item{
        justify-content:flex-start;
        padding:0 24px;
        gap:24px;
    }

    .container:has(#CheckBox:checked) .main::after{
        content:"";
        position:fixed;
        top:64px;
        left:0;
        width:100%;
        height:calc(100vh - 64px);
        background:rgba(0,0,0,0.5);
        z-index: 5;
    }
}

/*=======================
6-1.반응형(모바일)
=======================*/
@media(max-width:768px){
    .container{
        grid-template-columns:1fr;
        grid-template-areas:
            "header"
            "main";
    }
    
    .aside{
        display:block;
        width:240px;
        top:64px;
        left:0;
        height:calc(100vh - 64px);
        transform:translateX(-100%);
        transition: transform .3s ease;
    }

    .container:has(#CheckBox:checked){
        grid-template-columns: 1fr;
    }

    .container:has(#CheckBox:checked) .aside{
        transform:translateX(0);
    }

    .container:has(#CheckBox:checked) .aside h2,
    .container:has(#CheckBox:checked) .aside p{
        display:block;
    }

    .search-container{
        display: none;
    }
    
    .mobile-search-label{
        display: block;
    }

    #MobileSearch:checked ~ .header-nav{
        display: none;
    }

    #MobileSearch:checked ~ .hamburger-container{
        display: none;
    }

    #MobileSearch:checked ~ .search-container{
        display:flex;
        width:100%;
        height:100%;
        align-items:center;
    }

    .back-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 0 7px;
        margin-right: 24px;
        margin-left: 12px;
        cursor: pointer;
        color: var(--text);
        font-size: 1.5rem;
    }

    .header-mic-container{
        margin-right: 12px;
    }

}








